/// Grid system breakpoints in pixels
/// @type list
$grid-breakpoints: (
	xs: 0,
	sm:	576px,
	md:	768px,
	lg:	992px,
	xl: 1200px
);

/// Container maximum widths in pixels
/// @type list
$container-max-widths: (
	sm:	540px,
	md:	720px,
	lg:	960px,
	xl: 1140px
);

/// Rem base
/// @type number
$rem-base: 16;

// Column/row spacing
$spacing: 15px;

// Background colors
$bg-body: #f6f9fc;
$bg-highlight: #f5f5f5;
$bg-avatar: #fff;
$bg-dark-form-input: #e9ecef;

// Foreground colors
$fg-body: #4a4a4a;
$fg-brand: #666;
$fg-logo: #08c;
$fg-highlight: #24292e;
$fg-donate: #dc3545;
$fg-icon: #007bff;
$fg-icon-hover: #0056b3;

// Border colors
$br-avatar: #e6e6e6;
