<p>If you like or found my work useful and want to show some appretiation, you can consider donating.</p>

<img data-src="{{ '/assets/images/donate.png' | relative_url }}" alt="PayPal - The safer, easier way to pay online!" class="img-fluid d-block mx-auto mb-3 lazyload" width="128" height="128">

<p class="text-center">
	<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=KNNWNZJWRQNQY&source=url" class="btn btn-warning d-inline-block" target="_blank" rel="external nofollow noreferrer noopener" title="PayPal - The safer, easier way to pay online!">
		<img src="https://www.paypalobjects.com/webstatic/i/logo/rebrand/ppcom.svg" alt="Donate with PayPal">
	</a>
</p>
