{%- if include.content.size > 0 -%}
	{%- assign scripts = include.content -%}
{%- elsif page.scripts.size > 0 -%}
	{%- assign scripts = page.scripts -%}
{%- else -%}
	{%- assign scripts = nil -%}
{%- endif -%}
{%- for page_script in scripts -%}
	{%- assign script = site.data.scripts | where: 'group', page_script | first -%}
	{%- if script.size > 0 -%}
		{%- for file in script.files -%}
			{%- assign script_url = nil -%}
			{%- case file.cdn -%}
				{%- when 'cdnjs' -%}
					{%- assign script_url = script_url
					| append: 'https://cdnjs.cloudflare.com/ajax/libs/'
					| append: script.group | append: '/'
					| append: file.version | append: '/' -%}
					{%- if file.path -%}
						{%- assign script_url = script_url
						| append: file.path | append: '/' -%}
					{%- endif -%}
					{%- assign script_url = script_url | append: file.name -%}
				{%- when 'githack' -%}
					{%- if file.type != 'gist' -%}
						{%- assign script_url = script_url
						| append: 'https://rawcdn.githack.com/' -%}
					{%- else -%}
						{%- assign script_url = script_url
						| append: 'https://gistcdn.githack.com/' -%}
					{%- endif -%}
					{%- assign script_url = script_url | append: file.name -%}
				{%- when 'iconify' -%}
					{%- assign script_url = script_url
					| append: 'https://code.iconify.design/1/'
					| append: file.version | append: '/'
					| append: file.name -%}
				{%- else -%}
					{%- assign script_url = script_url | append: '/assets/js/'
					| append: file.name -%}
			{%- endcase -%}
			{%- if file.minified -%}
				{%- assign script_url = script_url | append: '.min' -%}
			{%- endif -%}
			{%- assign script_url = script_url | append: '.js' -%}
			{%- unless file.cdn -%}
				{%- assign script_url = script_url | relative_url -%}
			{%- endunless -%}
			{%- if script_url.size > 0 %}
			<script src="{{ script_url | uri_escape }}"{% if file.cdn.size > 0 and file.integrity.size > 0 %} integrity="{{ file.integrity }}" crossorigin="anonymous"{% endif %}></script>
			{%- endif %}
		{%- endfor -%}
	{%- endif -%}
{%- endfor -%}
