{%- if include.content.size > 0 -%}
	{%- assign stylesheets = include.content -%}
{%- elsif page.stylesheets.size > 0 -%}
	{%- assign stylesheets = page.stylesheets -%}
{%- else -%}
	{%- assign stylesheets = nil -%}
{%- endif -%}
{%- for page_style in stylesheets -%}
	{%- assign style = site.data.stylesheets | where: 'group', page_style | first -%}
	{%- if style.size > 0 -%}
		{%- for file in style.files -%}
			{%- assign style_url = nil -%}
			{%- case file.cdn -%}
				{%- when 'cdnjs' -%}
					{%- assign style_url = style_url
					| append: 'https://cdnjs.cloudflare.com/ajax/libs/'
					| append: style.group | append: '/'
					| append: file.version | append: '/' -%}
					{%- if file.path -%}
						{%- assign style_url = style_url
						| append: file.path | append: '/' -%}
					{%- endif -%}
					{%- assign style_url = style_url | append: file.name -%}
				{%- when 'githack' -%}
					{%- if file.type != 'gist' -%}
						{%- assign style_url = style_url
						| append: 'https://rawcdn.githack.com/' -%}
					{%- else -%}
						{%- assign style_url = style_url
						| append: 'https://gistcdn.githack.com/' -%}
					{%- endif -%}
					{%- assign style_url = style_url | append: file.name -%}
				{%- else -%}
					{%- assign style_url = style_url | append: '/assets/css/'
					| append: file.name -%}
			{%- endcase -%}
			{%- if file.minified -%}
				{%- assign style_url = style_url | append: '.min' -%}
			{%- endif -%}
			{%- assign style_url = style_url | append: '.css' -%}
			{%- unless file.cdn -%}
				{%- assign style_url = style_url | relative_url -%}
			{%- endunless -%}
			{%- if style_url.size > 0 %}
			<link rel="stylesheet" href="{{ style_url | uri_escape }}"{% if file.cdn.size > 0 and file.integrity.size > 0 %} integrity="{{ file.integrity }}" crossorigin="anonymous"{% endif %}>
			{%- endif %}
		{%- endfor -%}
	{%- endif -%}
{%- endfor -%}
