code {
	&.highlighter-rouge {
		border-radius: 3px;
		background-color: $bg-highlight;
		padding: 3px 6px;
		color: $fg-highlight;
	}

	&.social-username {
		background: none;
		padding: 0;
		color: currentColor;
	}
}
