.navbar-brand {
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;

	.navbar-light & {
		color: $fg-brand;
	}

	&::before,
	&::after {
		color: $fg-logo;
	}

	&::before {
		margin-right: 3px;
		content: '{';
	}

	&::after {
		margin-left: 3px;
		content: '}';
	}
}

@keyframes pulse {
	0% {
		transform: scale(1.1);
	}

	50% {
		transform: scale(0.9);
	}

	100% {
		transform: scale(1.1);
	}
}
